<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('blocks/header') -%>
    <main>
        
        <div class="username">user page: <%= username %></div>
        <% if(username == 'ishak'){ %>
        <ul>
            <% hobbies.forEach((el)=> { %>
            <li><%= el %></li>
            <% }) %>
        </ul>
        <% } %>
    </main>
  </body>
</html>
